body
{
	margin-left: 0px;
	margin-top: 0px;
	position: absolute;
	top : 0px;
	left : 0px;
	height : 100%;
	width : 100%;
}
#tchatcactus
{
	position: absolute;
	right: 0px;
	height: 100%;
	width: 20%;
}
#live
{
	width: 80%;
}